*~
.*sw[pqrsto]
*.orig
target/**
*/target/**
*/.settings/*
.factorypath
.settings/*
.project
.classpath
billy/src/main/filters/*.properties
data-sources.xml
release.properties
billy-platypus/src/test/resources/documents/SAFT.xml
billy-platypus/src/main/resources/Result.pdf
