# Execution
jdbc.driver=org.postgresql.Driver
jdbc.debug=true
jdbc.debug_extended=false
jdbc.user=billy
jdbc.password=billy
jdbc.host=localhost
jdbc.port=5432
jdbc.database=billy
jdbc.url=jdbc:postgresql://localhost:5432/billy
jdbc.schema=public
hibernate.show_sql=true
hibernate.hbm2ddl.auto=create
hibernate.dialect=org.hibernate.dialect.PostgreSQLDialect

# Test
test.jdbc.driver=org.h2.Driver
test.jdbc.debug=true
test.jdbc.debug_extended=false
test.jdbc.user=billytest
test.jdbc.password=billytest
test.jdbc.host=
test.jdbc.port=
test.jdbc.database=H2DB
test.jdbc.url=jdbc:h2:/tmp/h2db
test.jdbc.schema=public
test.hibernate.show_sql=false
test.hibernate.hbm2ddl.auto=create
test.hibernate.dialect=org.hibernate.dialect.H2Dialect